DATABASE_URL="postgresql://user:password@localhost:5432/cad_exam"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-min-32-chars"
ADMIN_EMAIL="admin@example.com"
ADMIN_PASSWORD="admin123"
